body {
  font-family: 'Slabo 27px', serif;
}
.text {
  text-align: center;
}

.text h1 {
  margin-bottom: 0;
}

.text p {
  font-size: .8em;
}
.translateForm textarea{
  display: block;
  margin: 0 auto;
  min-height: 200px;
  min-width: 600px;
  font-size: .8em;
  resize: none;
}

.select {
  display: flex;
  justify-content: center;
  margin: 0;
}

.select input {
  margin-right: 20px;
}

#readText {
  display: inline;
  margin: 0 40%;
  font-size:1em;
  cursor: pointer;
}

#submit {
  display: inline;
  margin: 15px 45%;
  font-size:1em;
  cursor: pointer;
}

#translatedText {
  border: 1px #aaa solid;
  min-height: 200px;
  max-width: 600px;
  margin: 30px auto;
}