.text {
  text-align: center;
}

.translateForm textarea{
  display: block;
  margin: 0 auto;
  min-height: 200px;
  min-width: 600px;
  font-size: .8em;
  resize: none;
}

.select {
  display: flex;
  justify-content: center;
  margin: 0;
}

.select input {
  margin-right: 20px;
}

#submit {
  margin: 20px 10px 10px 35%;
}
.button {
  display: inline-block;
  font-size:1em;
  cursor: pointer;
}

#translatedText {
  border: 1px #aaa solid;
  min-height: 200px;
  max-width: 600px;
  margin: 30px auto;
}